@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: #9095A7;
  background: #000000;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-title {
  color: var(--m-3-sys-dark-secondary, #B1CCC5);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-title {
  color: var(--m-3-sys-dark-on-background, #E0E3E1);
  font-size: 36px;
  font-weight: 600;
  line-height: 52px; /* 115.556% */
}

.solution-main-title {
  color: var(--m-3-sys-dark-on-background, #E0E3E1);

  font-size: 24px;
  font-weight: 600;
}

.solution-description {
  color: var(--m-3-sys-dark-on-background, #E0E3E1);
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.benefit-icon {
  background: var(--m-3-state-layers-dark-primary-opacity-016, rgba(208, 188, 255, 0.16));
}

.benefit-main-title {
  color: var(--m-3-sys-dark-on-background, #E0E3E1);
  font-size: 24px;
  font-weight: 600;
}

.benefit-description {
  color: var(--m-3-sys-dark-on-background, #E0E3E1);
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

