@import './base.css';
@import './style.css';

/* #app {
  margin: 0 auto;
  font-weight: normal;
  overflow-x: clip;
  position: relative;
}

@media (min-width: 1024px) {
  #app {
    transition: ease;
  }
} */
